<div class="w-full max-w-screen-lg flex flex-col gap-8 lg:gap-10">
    <h2 i18n class="flex text-3xl gap-5 items-center"><img src="/assets/img/code-icon.png" class="w-8" alt="">Stack Tecnológico</h2>

    <div class="flex flex-wrap gap-4 sm:gap-6 font-lexend text-sm">
      <button>
        <img src="assets/img/html-logo.png" class="w-5" alt="">HTML
      </button>
      <button>
        <img src="assets/img/css-3-logo.png" class="w-5" alt="">CSS
      </button>
      <button>
        <img src="assets/img/tailwind-logo.png" class="w-5" alt="">Tailwind
      </button>
      <button>
        <img src="assets/img/java-logo.png" class="w-5" alt="">Java
      </button>
      <button>
        <img src="assets/img/spring-logo.png" class="w-5" alt="">Spring
      </button>
      <button>
        <img src="assets/img/javascript-logo.png" class="w-5 " alt="">JavaScript
      </button>
      <button>
        <img src="assets/img/react-logo.png" class="w-5" alt="">React
      </button>
      <button>
        <img src="assets/img/typescript-logo.png" class="w-5" alt="">TypeScript
      </button>
      <button>
        <img src="assets/img/angular-logo.png" class="w-5" alt="">Angular
      </button>
      <button>
        <img src="assets/img/mysql-logo.png" class="w-5" alt="">MySQL
      </button>
      <button>
        <img src="assets/img/git-logo.png" class="w-5" alt="">Git
      </button>
    </div>
  </div>
