
<main class="w-screen min-h-screen bg-purple-950">

    <section class="font-special text-white ">

    <div class="grid grid-cols-1 md:grid-cols-2 p-[8%]">

      <div class="flex flex-col gap-30 pr-[20%]">
        <div class="flex flex-col gap-12">
        <img src="assets/img/mariarosabravo-img.jpeg" alt="Foto de perfil" class="w-85 h-85 rounded-full object-cover shadow-lg border-4 border-white">
      <h1 class="text-8xl">María Rosa Bravo Gil</h1>
      <p class="font-lexend text-5xl"><b class="text-purple-400">Desarrolladora de software junior</b>, enfocada  en el Fullstack. Actualmente apostando por <b class="text-purple-200">Angular & React</b>,   mejorando cada día. De Fuengirola (Málaga), España 🇪🇸</p>
      <div class="flex flex-wrap gap-12">
        <button class="flex items-center justify-center gap-6 text-3xl bg-gray-900 rounded-4xl p-6 
        border border-purple-400"><img src="assets/img/linkedin-logo.png" class="w-15" alt="">LinkedIn</button>
        <button class="flex items-center justify-center gap-4 text-3xl bg-gray-900 rounded-4xl p-6 border border-purple-400"><img src="assets/img/github-logo.png" class="w-15" alt="">GitHub</button>
        <button class="flex items-center justify-center gap-6 text-3xl bg-gray-900 rounded-4xl p-6 border border-purple-400"><img src="assets/img/mail-icon.png" class="w-15" alt="">mrbravogil&#64;gmail.com</button>
        <button class="flex items-center justify-center gap-6 text-3xl bg-gray-900 rounded-4xl p-6 border border-purple-400"><img src="assets/img/filedownload-icon.png" class="w-15" alt="">CV</button>     
      </div>
    </div>

    <div class="flex flex-col gap-20">
      <h2 class="text-5xl">Stack Tecnológico</h2>
      <div class="flex flex-wrap gap-12">
        <button class="flex items-center justify-center gap-6 text-3xl bg-gray-900 rounded-4xl p-6 "><img src="assets/img/html-logo.png" class="w-15" alt="">HTML</button>
        <button class="flex items-center justify-center gap-6 text-3xl bg-gray-900 rounded-4xl p-6 "><img src="assets/img/css-3-logo.png" class="w-15" alt="">CSS</button>
        <button class="flex items-center justify-center gap-6 text-3xl bg-gray-900 rounded-4xl p-6 "><img src="assets/img/tailwind-logo.png" class="w-15" alt="">Tailwind</button>
        <button class="flex items-center justify-center gap-6 text-3xl bg-gray-900 rounded-4xl p-6 "><img src="assets/img/java-logo.png" class="w-15" alt="">Java</button>
        <button class="flex items-center justify-center gap-6 text-3xl bg-gray-900 rounded-4xl p-6 "><img src="assets/img/spring-logo.png" class="w-15" alt="">Spring</button>
        <button class="flex items-center justify-center gap-6 text-3xl bg-gray-900 rounded-4xl p-6 "><img src="assets/img/javascript-logo.png" class="w-15" alt="">Javascript</button>
        <button class="flex items-center justify-center gap-6 text-3xl bg-gray-900 rounded-4xl p-6 "><img src="assets/img/react-logo.png" class="w-15" alt="">React</button>
        <button class="flex items-center justify-center gap-6 text-3xl bg-gray-900 rounded-4xl p-6 "><img src="assets/img/typescript-logo.png" class="w-15" alt="">Typescript</button>
        <button class="flex items-center justify-center gap-6 text-3xl bg-gray-900 rounded-4xl p-6 "><img src="assets/img/angular-logo.png" class="w-15" alt="">Angular</button>
        <button class="flex items-center justify-center gap-6 text-3xl bg-gray-900 rounded-4xl p-6 "><img src="assets/img/mysql-logo.png" class="w-15" alt="">MySQL</button>
        <button class="flex items-center justify-center gap-6 text-3xl bg-gray-900 rounded-4xl p-6 "><img src="assets/img/git-logo.png" class="w-15" alt="">Git</button>

    </div>
    

    </div>
    <div class="flex flex-col gap-25">
      <h2 class="text-6xl flex gap-12 items-center"><img src="assets/img/message.png" class="w-20" alt="">Contacto</h2>
      <div class="w-[85%] pl-40 flex flex-col gap-12 p-20 bg-purple-900 border border-purple-400 rounded-4xl">
        <p class="flex items-center gap-6 text-3xl"><img src="assets/img/mail-icon.png" alt="">mrbravogil&#64;gmail.com</p>
        <p class="flex items-center gap-6 text-3xl"><img src="assets/img/linkedin-logo.png" class="w-15" alt="">LinkedIn</p>
        
      </div>
    </div>
      </div>

      <div class="flex flex-col gap-20">
        <h2 class="text-6xl flex gap-12 items-center"><img src="assets/img/programming.png" class="w-20" alt="">Proyectos</h2>

        <div class="flex flex-col gap-12">
          <img src="assets/img/rotten-tomatoes-img.png" class="rounded-4xl" alt="">
          <h2 class="text-5xl">Rotten Tomatoes</h2>
          <p class="font-lexend text-4xl">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium repellendus deleniti numquam itaque quibusdam aliquam odit ducimus, nobis quia necessitatibus, non laudantium fugiat consectetur eius incidunt ab delectus, laboriosam dolore!</p>
          <div class="flex gap-12 text-4xl">
            <button class="bg-purple-900 rounded-4xl p-5 border border-purple-400">Código</button>
            <button class="bg-purple-900 rounded-4xl p-5 border border-purple-400">Ver</button>
          </div>
          </div>

        <div class="flex flex-col gap-12">
          <img src="assets/img/custom-trivial-img.png" class="rounded-4xl" alt="">
          <h2 class="text-5xl">Trivial Customizable</h2>
          <p class="font-lexend text-4xl">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium repellendus deleniti numquam itaque quibusdam aliquam odit ducimus, nobis quia necessitatibus, non laudantium fugiat consectetur eius incidunt ab delectus, laboriosam dolore!</p>
          <div class="flex gap-12 text-4xl">
            <button class="bg-purple-900 rounded-4xl p-5 border border-purple-400">Código</button>
            <button class="bg-purple-900 rounded-4xl p-5 border border-purple-400">Ver</button>
          </div>
          </div>
        
          
            <div class="flex flex-col gap-12">
              <img src="assets/img/rotten-tomatoes-img.png" class="rounded-4xl" alt="">
              <h2 class="text-5xl">Rotten Tomatoes</h2>
              <p class="font-lexend text-4xl">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium repellendus deleniti numquam itaque quibusdam aliquam odit ducimus, nobis quia necessitatibus, non laudantium fugiat consectetur eius incidunt ab delectus, laboriosam dolore!</p>
              <div class="flex gap-12 text-4xl">
                <button class="bg-purple-900 rounded-4xl p-5 border border-purple-400">Código</button>
                <button class="bg-purple-900 rounded-4xl p-5 border border-purple-400">Ver</button>
              </div>
              </div>
          
      </div>

    </div>    
    </section>



</main>


<router-outlet />
