
<main class="w-screen min-h-screen bg-purple-950">

    <section class="font-special text-white ">

    <div class="grid grid-cols-1 md:grid-cols-2 p-[8%]">

      <div class="flex flex-col pr-[5%] gap-12">
      <h1 class="text-8xl">María Rosa Bravo Gil</h1>
      <p class="font-lexend text-5xl"><b class="text-purple-400">Desarrolladora de software junior</b>, enfocada  en el Fullstack. Actualmente apostando por <b class="text-purple-200">Angular & React</b>,   mejorando cada día. De Fuengirola (Málaga), España 🇪🇸</p>
      </div>

      <div>
        <p class="pl-[10%] text-5xl">Proyectazos</p>
      </div>

    </div>    
    </section>



</main>


<router-outlet />
