<div class="pt-5 lg:p-0 flex flex-col gap-15 lg:pr-[20%]">

<div class="w-full lg:w-[35%] mx-auto lg:px-4 flex flex-col gap-8 lg:gap-10 lg:fixed">

    <!-- Bloque de presentación -->
    <div class="flex flex-col lg:items-start gap-6 lg:text-left">
      <img src="assets/img/mariarosabravo-img.jpeg"
          alt="Foto de perfil"
          class="w-40 h-40 lg:w-45 lg:h-45 rounded-full object-cover border-4 border-white shadow-lg" />

      <h1 class="text-4xl lg:text-5xl font-bold">María Rosa Bravo Gil</h1>

      <span class="font-lexend text-lg lg:text-xl leading-relaxed max-w-2xl">
        <b i18n class="text-purple-400">Desarrolladora de software. </b>
        <b i18n class="font-normal">Actualmente apostando por </b><b i18n class="text-purple-200">Angular & React</b>,
        <b i18n class="font-normal">mejorando cada día desde España 🇪🇸</b>
      </span>
    </div>

    <!-- Enlaces -->
    <div class="flex flex-wrap gap-4 lg:justify-start">
      <a href="https://www.linkedin.com/in/mrbravogil" target="_blank"
         class="w-[150px] flex items-center justify-center gap-2 px-5 py-3 text-sm sm:text-base lg:text-md bg-gray-900 rounded-3xl border border-purple-400 hover:bg-black transition">
        <img src="assets/img/linkedin-logo.png" class="w-5 sm:w-6" alt="">LinkedIn
      </a>
      <a href="https://github.com/mrbravogil" target="_blank"
         class="w-[150px] flex items-center justify-center gap-2 px-5 py-3 text-sm sm:text-base lg:text-md bg-gray-900 rounded-3xl border border-purple-400 hover:bg-black transition">
        <img src="assets/img/github-logo.png" class="w-5 sm:w-6" alt="">GitHub
      </a>
      <a href="mailto:mrbravogil@gmail.com"
         class="w-[150px] flex items-center justify-center gap-2 px-5 py-3 text-sm sm:text-base lg:text-md bg-gray-900 rounded-3xl border border-purple-400 hover:bg-black hover:underline transition">
        <img src="assets/img/mail-icon.png" class="w-5 sm:w-6" alt="">Email
      </a>
      <a href="assets/docs/MariaRosaBravo-CV2025-es.pdf" download
         class="w-[150px] flex items-center justify-center gap-2 px-5 py-3 text-sm sm:text-base lg:text-md bg-gray-900 rounded-3xl border border-purple-400 hover:bg-black transition">
        <img src="assets/img/filedownload-icon.png" class="w-5 sm:w-6" alt="">CV
      </a>
    </div>

  </div>
</div>
