@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@400;700&family=Special+Gothic+Expanded+One&display=swap');

.font-special {
  font-family: 'Special Gothic Expanded One', sans-serif;
}

.font-lexend {
  font-family: 'Lexend', sans-serif;
}
